<!-- <button mat-button >Menu</button>
<mat-menu #menu="matMenu">
  <button >Item 1</button>
  <button >Item 2</button>
</mat-menu> -->

<!-- <div style="text-align:center">
  <h1>P5M and MyU</h1>
</div> -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Director: Saurabh</a>
      </div>
      <ul class="nav navbar-nav">
        <!-- <li><a href="#">Home</a></li> -->
        <li><a routerLink="home">Home</a></li>
        <!-- <li class="active"><a href="#">Home</a></li> -->
        
        <li class="dropdown">
          <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">Balloon Gallery
          <span class="caret"></span></a> -->
          <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/events/balloon-gallery" >Event Gallery
            <span class="caret"></span></a>
          <ul class="dropdown-menu" id='decor'>
            <li><a routerLink="/events/birthday">BIRTHDAY</a></li>
            <li><a routerLink="/events/wedding">WEDDING</a></li>
            <li><a routerLink="/events/festival">FESTIVAL</a></li>
            <!-- <li><a href="#">FASTIVAL</a></li> -->
            <li><a routerLink="/events/national">NATIONAL FASTIVAL</a></li>
            <li><a routerLink="/events/showroom">SHOWROOM</a></li>
            <li><a routerLink="/events/cultural">CULTURAL</a></li>
          </ul>
        </li>
        <!-- <li><a href="#">Page 2</a></li> -->
        <!-- <li><a routerLink="home">Home</a></li> -->
        <li><a routerLink="occasion">Occasions</a></li>
        <li><a routerLink="customer">Our Services</a></li>
  
      </ul>
    </div>
  </nav>
  <!-- <a routerLink="balloon-gallery">Home</a> -->
 
  <!-- <h2>Card Image</h2>
  <p>Image at the top (card-img-top):</p>
  <div class="card" style="width:400px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <br>
  
  <p>Image at the bottom (card-img-bottom):</p>
  <div class="card" style="width:400px">
    <div class="card-body">
      <h4 class="card-title">Jane Doe</h4>
      <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
    <img class="card-img-bottom" src="img_avatar6.png" alt="Card image" style="width:100%">
  </div> -->

  
  <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
    <ol class="carousel-indicators" style="height: 400px; width: 1200px">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  
  
    <div class="carousel-inner">
      <div class="item active" >
        <img src="assets/the.jpg" alt="Los Angeles">
      </div>
  
      <div class="item" >
        <img src="assets/th.jpg" alt="Chicago">
      </div>
  
      <div class="item" >
        <img src="assets/thee.jpg" alt="New York">
      </div>
    </div>
  
    
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> -->


