<!-- <div class="row">
  <div class="column">
    <img src="assets/image/national1.jpg" alt="Snow" style="width:300px">
  </div>
  <div class="column">
    <img src="assets/image/national1.jpg" alt="Forest" style="width:300px">
  </div>
  <div class="column">
    <img src="assets/image/national1.jpg" alt="Mountains" style="width:300px">
  </div>
</div> -->
<div class="main">
  <!-- Portfolio Gallery Grid -->
  <div class="row">
    <div class="column">
      <div class="content">
        <img src="/assets/image/wedding0.jpg" alt="Lights" style="width:100%;height:220px;">
      </div>
    </div>
    <div class="column">
      <div class="content">
      <img src="/assets/image/wedding2.jpeg" alt="Lights" style="width:100%; height:220px;">
      </div>
    </div>
    <div class="column">
      <div class="content">
      <img src="/assets/image/wedding4.jpg" alt="Nature" style="width: 100%;height:220px;">
      </div>
    </div>
  <!-- END GRID -->
  <div class="column">
    <div class="content">
      <img src="/assets/image/weddings.jpeg" alt="Lights" style="width:100%;height:220px;">
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="/assets/image/weddingHoll.jpg" alt="Lights" style="width:100%;height:220px;">
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="/assets/image/weddingHoll1.jpg" alt="Lights" style="width:100%;height:220px;">
    </div>
  </div>

  </div>
  </div>
