<!-- <p>
  occasion works!
</p>
<p>
  We offer the below events by which you can celebrate occasion.
</p> -->
<!-- <div style="display:flex; flex-wrap:wrap"><div class="card " *ngFor="let prod of products">
  <div class="card-image">
          <figure class="image is-4by3">
            <img [src]="prod.image" alt="Placeholder image">
          </figure>
        </div>
<div class="card-content">
  <p class="title is-5"> {{prod.name}} </p>
  <p class="subtitle is-7">{{prod.department}} </p>
  <p class="subtitle is-7">{{prod.product}} </p>
</div>
<footer class="card-footer">
  <div class="card-footer-item">
      <div>Price</div>  <b>{{prod.price}}</b>
  </div>
  <div class="card-footer-item">
      <div>Available Color </div>
      <span [style.backgroundColor]="prod.color" style="display: inline-block;width:32px;height: 32px;"></span>
  </div>
</footer>
</div>

</div> -->


  <!-- MAIN (Center website) -->
<div class="main">
    <!-- Portfolio Gallery Grid -->
    <div class="row">
      <div class="column">
        <div class="content">
          <img src="/assets/birthady.jpg" alt="Lights" style="width:100%;height:220px;">
          <div style="color:white"><div class="menu"><span>Birthday Occasion. . . . &#x20b9; 25</span></div></div>
          <!-- <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p> -->
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="/assets/wedding1.jpg" alt="Lights" style="width:100%; height:220px;">
          <div style="color:white"><div class="menu"><span>Wedding Party Occasion. . . . . . . .&#x20b9; 25</span></div></div>
          <!-- <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p> -->
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="/assets/showroom.jpg" alt="Nature" style="width: 100%;height:220px;">
          <div style="color:white"><div class="menu"><span>Showroom Opning Occasion. . . . &#x20b9; 25</span></div></div>
          <!-- <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p> -->
        </div>
      </div>
      <!-- <div class="column">
        <div class="content">
        <img src="/assets/birthady.jpg" alt="Mountains" style="widows: 100px;height:140px;">
          <div style="color:white"><div class="menu"><span>My Work. . . . . . . . . . . . . $25</span></div></div>
          <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
        </div>
      </div> -->
    <!-- END GRID -->
    <div class="column">
      <div class="content">
        <img src="/assets/festival0.jpg" alt="Lights" style="width:100%;height:220px;">
        <div style="color:white"><div class="menu"><span>Fastival Occasion . . . . &#x20b9; 25</span></div></div>
        <!-- <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p> -->
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="/assets/national4.jpg" alt="Lights" style="width:100%;height:220px;">
        <div style="color:white"><div class="menu"><span>National Fastival Occasion. . . . &#x20b9; 25</span></div></div>
        <!-- <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p> -->
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="/assets/ganeshchaturthi.jpg" alt="Lights" style="width:100%;height:220px;">
        <div style="color:white"><div class="menu"><span>Cultural Occasion. . . . &#x20b9; 25</span></div></div>
        <!-- <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p> -->
      </div>
    </div>

    </div>
    </div>
    

